:root {
    --verde: #33e240;
}

.navbarcolor {
    font-family: Inconsolata, open-sans;
    color: var(--verde) !important;
}

.jumbotron {
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: flex-end;
}

header {
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
}

.sobremi {
    letter-spacing: 0.15rem;
    line-height: 2.1rem;
}

.parrafo {
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
}

.linea {
    background-color: var(--verde);
    color: var(--verde);
    height: 2px;
    width: 18rem;
    display: inline-block;
}

.linea2 {
    background-color: var(--verde);
    color: var(--verde);
    height: 2px;
    width: 12rem;
    display: inline-block;
}

.questrial {
    font-family: Questrial, open-sans;
}

.inconsolata {
    font-family: Inconsolata, open-sans;
}

.green {
    color: var(--verde);
}
